#Ansible Managed
#SSH Config
##Default##
Host *
  IdentityFile ~/.ssh/id_rsa
  ServerAliveInterval 60
  ServerAliveCountmax 50


#EXAMPLE###############################################
#Host <NAME>                     
#        Hostname <HOSTNAME/IP>
#        user <USER>
#        Port <##>
#        ProxyCommand ssh -q -x <JUMPBOX> -W %h:%p
#        IdentityFile </path/to/keyfile>
#######################################################